{% load static %}
<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper" id="form_main">
    <div class="img">
        <style>
            .img {
                background: url("{% static 'img/emit-logo.svg' %}")
            }
        </style>
    </div>
        <p>--> Расписание ЭМИТ <--</p>
        <form method="post">
            {% csrf_token %}
            <div>
                <div class="form">
                    {{form.kurs}}
                    <label>Курс</label>
                </div>
                <div class="form">
                    {{form.group}}
                    <label>Группа</label>
                </div>
            </div>
{#            <a href="/table" class="btn" id="btn" type="submit">Войти</a>#}
            <button class="btn" id="btn" type="submit">Войти</button>
{#            onclick="window.location='{% url 'table' %}'"#}
{#                <input class="btn" onclick="location.href='{% url 'table' %}'" value="Войти">#}
        </form>
    </div>
<div>
    {% block content %}
    {% endblock %}
</div>

<!--<script type="text/javascript" src="/eel.js"></script>-->
<script>
  eel.expose(view_table);

  function values_take(){
    let kurs = document.getElementById("kurs").value;
    let group = document.getElementById("group").value;
    eel.start_py(kurs, group);
  }

  function view_table(table_shedule){
    document.getElementById('form_main').style.display = "none";
    document.getElementById('table_form').innerHTML = table_shedule;
  }

</script>
<!-- partial -->

</body>
</html>
