{% load static %}
<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <link rel="stylesheet" href="{% static 'css/style_table.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        $(document).ready ( function(){
            $("#table_form").html('');
        });
    </script>
{#    <script type="text/javascript">#}
{#        function clear_table() {#}
{#            document.getElementById('table_form').innerHTML = ''#}
{#        }#}
{#        window.onload = clear_table;#}
{#    </script>#}
</head>
<body>
    <div class="old_ie_wrapper">
        <div class="fixed_headers" id="table_form">
            {% block content %}
                {{ table | safe}}
{#                очищать table каждый раз#}
            {% endblock %}
        </div>
    </div>
</body>
</html>